@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a:link {color: black; transition: all 0.2s;}a:visited {color: black;}a:hover {color: #EB9AFF; border-bottom: solid;}a:active {color: black;}a{text-decoration: none;}

*{
    font-family: Poppins;
    margin: 0;
}

body {
    background-image: url('../assets/img/wp.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 70%;
    height: 60px;
    background: linear-gradient(to right, white, rgb(244, 244, 244));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.main_pages {
    margin: auto 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

label, #toggle
{
    display: none;
}
 
@media (max-width: 920px)
{
    header
    {
        background: transparent;
        margin: 0%;
    }
 
    .main_pages 
    {
        display: none;
        flex-direction: column;
        background: white;
        height: 25vh;
        width: 200px;
    }
    label 
    {
        width: 30px;
        display: flex;
        align-items: center;
        font-size: 40px;
        color: #000000;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}

.mainFP {
    width: fit-content;
    margin: auto;
    margin-top: 23vh;
}

.mainFP h1 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 13px;
}

.containerFP {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 10px;
    height: 110px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.520);
}

.containerFP p {
    font-weight: 200;
    padding: 0 5px;
    font-size: 1.2em;
}

.containerFP .inputNum {
    width: 35vw;
    height: 50px;
    border: none;
    background-color:#f1f1f1;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
}

.idInput {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.idInput button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.idInput button:hover {
    transform: scale(1.25);
}

.idInput span {
    line-height: 50px;
}

.mainFAQ {
    width: 55vh;
    margin: auto;
    margin-top: 18vh;
}

.titleFAQ {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.titleFAQ h1 {
    font-weight: 500;
}

.titleFAQ span {
    margin-right: 5px;
    font-size: 30px;
}

.containerFAQ {
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.491);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
}

.line {
    display: block;
    width: 95%;
    height: 1px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.304);
}

.accordion {
    font-size: 1em;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 25px 18px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

.accordion:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.panel {
    margin-bottom: 5px;
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.material-symbols-outlined {
    transition: transform 0.3s ease; /* Ajouter une transition pour l'animation */
}

.rotated {
    transform: rotate(180deg); /* Rotation de 180 degrés */
}

.mainContact {
    width: 115vh;
    margin: auto;
    margin-top: 16vh;
}

.mainContact h1 {
    font-weight: 500;
    padding: 5px;
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.299);
    width: fit-content;
}

.containerContact {
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.491);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
}

.textContact {
    line-height: 40px;
    padding: 10px;
}

.containerIcon {
    margin: 20px 30px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    font-size: 0.8em;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 177px;
}

.icon span {
    font-size: 60px;
}

.textContact a {
    color: #EB9AFF; 
    border-bottom: 1px solid;
}

.mainFollow {
    width: 43vw;
    margin: auto;
    margin-top: 12vh;
}

.mainFollow h1 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 13px;
}

.containerFollow {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 10px;
    padding-right: 0px;
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.671);
}

.textFP {
    margin: auto;
}

.textFP p{
    font-weight: 400;
    padding: 0;
    font-size: 1.2em;
}

.textFP p span {
    color: #EB9AFF;
}

.parcelStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parcelStatus p{
    font-weight: 600;
    padding: 0 5px;
    font-size: 1em;
}

.parcelStatus p:first-of-type {
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 5px;
}

.parcelStatus p span {
    font-weight: 400;
    color: #EB9AFF;
}

.spotBar {
    background-color: #000000;
    border-radius: 25px;
    width: 24vw;
    height: 8px;
    display: flex;
    align-items: center;
    padding: 1px;
    margin: 5px 0px;
    margin-top: 0px;
}

.spotBarInterior {
    background-color: #EB9AFF;
    border-radius: 25px;
    width: 50%;
    height: 100%;
    display: block;
}

.containerInfo {
    display: flex;
    margin: 15px;
    margin-bottom: 10px;
}

.infoFP {
    display: flex;

}

.infoFP a {
    border-bottom: none !important;
}

.textInfo {
    font-weight: 500;
    font-size: 0.78em;
    color: #000000;
}

.textInfo span {
    font-weight: 300;
    font-size: 0.95em;
    color: #EB9AFF;
}

.infoFP img {
    width: 210px;
    margin: 0px 14px;
}

.transitStatus {
   padding: 0px 7%;
}

.status {
    width: 140px;
    display: flex;
    align-items: center;
}

.status p {
    font-size: 0.8em;
}

.circle {
    margin: 2px 5px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-color: #EB9AFF;
}

.circleGrey {
    margin: 2px 5px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-color: #727272;
}

.circleActual {
    margin: 2px 5px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-image: url("https://upload.cyen.fr/share/1712823563275021.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dashed {
    border-left: 1px dashed black;
    height: 27px;
    margin-left: 19px;
}

.problemReport {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.problemReport p:last-of-type {
    color: #EB9AFF;
    font-weight: 300;
}

.problemReport button {
    color: white;
    font-size: 0.9em;
    font-weight: 200;
    border: none;
    outline: none;
    background-color: #EB9AFF;
    padding: 5px 15px;
    border-radius: 50px;
    margin-top: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.qr {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    
}
video {
    margin: 0 auto;
    border: none;
    outline: none;
}
.tracky {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -50px;
    font-size: 75px;
    font-weight: 500;
    color: #EB9AFF;
}

.mainDelivery {
    width: fit-content;
    margin: auto;
    margin-top: 11vh;
}

.mainDelivery h1 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 13px;
}

.containerDeliveryTrack {
    width: 51vw;
    min-width: 366px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 15px 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.650);
}

.headerBar {
    border-radius: 10px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 0px;
}
.headerBar p {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    width: 33%;
    text-align: center;
}

.headerBar p:last-of-type{
    width: 20%;
}

.containerDelivery {
    margin-top: 5px;
    height: 51vh;
    overflow: scroll;
}

.containerDelivery::-webkit-scrollbar {
    display: none;
  }

.delivery {
    display: flex;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 12px 0px;
}

.delivery p:first-of-type {
    font-weight: 500;
    padding-left: 10px;
}

.delivery p {
    padding: 5px 0px;
    font-size: 1.1em;
    width: 33%;
    text-align: center;
}

.containerQR {
    background-color: #EB9AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.containerQR a:hover {
    color: white;
    border: none;
}

.containerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #EB9AFF;
    border-radius: 10px;
    margin: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.299);
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301) !important;
    cursor: pointer;
}

.box span {
    font-size: 100px;
    color: white;
}

.box p {
    font-size: 1.8em;
    font-weight: 600;
    color: white;
}

.mainCreate {
    width: fit-content;
    margin: auto;
    margin-top: 12vh;
}

.mainCreate h1 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 13px;
}

.containerFormPackage {
    width: 28vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 25px;
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.671);
    font-size: 1.2em;
}

.boxInfoPackage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.boxInfoPackage p {
    margin-right: 1em;
    white-space: nowrap;
}

.boxInfoPackage input {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.292);
    outline: none;
    flex-grow: 1;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
}

.boxInfoPostal {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boxInfoCity {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.boxInfoCheckbox {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boxInfoCheckbox input[type="checkbox"] {
    width: 23px;
    flex-grow: 0;
}

.validForm {
    border: none;
    background-color: #EB9AFF;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 1em;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.containerUpdatePackage {
    width: fit-content;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 25px;
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.671);
    font-size: 1.2em;
}

.boxUpdatePackage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boxUpdatePackage p {
    margin-right: 1em;
    white-space: nowrap;
}

.boxUpdatePackage input {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.292);
    outline: none;
    flex-grow: 1;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
}

.mainlogin {
    width: fit-content;
    margin: auto;
    margin-top: 12vh;
}

.containerlogin {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 50px 95px;
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.671);
}

.boxlogin h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2.6em;
    color: white;
    margin: 5px;
}

.boxlogin {
    background-color: #EB9AFF;
    border-radius: 8px;
    width: 21vw;
    margin: auto;
    margin-bottom: 50px;
}

.loginInput  {
    height: 45px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 10px;
    outline: none;
    border: 1px solid #EB9AFF;
    box-shadow: 0px 2px 2px 0px #EB9AFF;
    padding-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.loginSubmit {
    background-color: #EB9AFF;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 45px;
    margin-top: 20px;
}

.boxRegister h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.7em;
    color: white;
}

.boxRegister {
    background-color: #EB9AFF;
    border-radius: 8px;
    width: 21vw;
    margin: auto;
    margin-bottom: 50px;
    padding: 15px 10px;
}