<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="../assets/style.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="/">Suivre mon colis</a>
            <a href="/FAQ">FAQ</a>
            <a href="/litige">Politique de litige</a>
            <a href="/contact">Nous contacter</a>
            {{if .Connected}}
            <a href="/admin">Espace admin</a>
            <a href="/deco">Déconnexion</a>
            {{else}}
            {{end}}
        </div>
   </header>
   <div class="mainFollow">
        <h1>Suivre mon colis 📦</h1>
        <div class="containerFollow">
            <div class="textFP">
                <p>Informations pour : <span>{{.Idcolis}}</span></p>
            </div>
            <div class="parcelStatus">
                <p id="statePercent">50%</p>
                <div class="spotBar">
                    <div class="spotBarInterior" style="width: 50% !important;">
                    </div>
                </div>
                <p>Status : <span id="stateActual">{{.State}}</span></p>
            </div>
            <div class="containerInfo">
                <div class="transitStatus">
                    <div class="status">
                        <span class="circle"></span>
                        <p>En préparation</p>
                    </div>
                    <span class="dashed"></span>
                    <div class="status">
                        <span class="circle"></span>
                        <p>Expédié</p>
                    </div>
                    <span class="dashed"></span>
                    <div class="status">
                        <span class="circle"></span>
                        <p>En transit</p>
                    </div>
                    <span class="dashed"></span>
                    <div class="status">
                        <span class="circle"></span>
                        <p>Livré</p>
                    </div>
                </div>
                <div class="infoFP">
                    <a href="https://www.google.fr/maps/place/+ {{.Adresse}}, + {{.CodePostal}} + {{.Ville}}" >><img src="../assets/img/Rectangle 11@2x.png"></a>
                    <div class="textInfo">
                        <p>Votre point de livraison : <span>{{.Adresse}} {{.CodePostal}} {{.Ville}}</span></p>
                        <p>Point relais : <span>{{.PointRelais}}</span></p>
                        <p>Livré : <span>{{.Livre}}</span></p>
                        <p>Problème : <span>{{.Probleme}}</span></p>
                        <div class="problemReport">
                            <p>Livraison prévue:</p>
                            <p>{{.EstimateTime}}</p>
                            <button>SIGNALER UN PROBLEME</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
   <script>
    document.addEventListener('DOMContentLoaded', function () {
        function updateProgressAndCircleClasses() {
            const statesWithPercentages = {
                'En préparation': 25,
                'Expédié': 50,
                'En transit': 75,
                'Livré': 100
            };
    
            const currentStateText = document.getElementById('stateActual').textContent.trim();
    
            const currentPercentage = statesWithPercentages[currentStateText] || 0;
            
            document.getElementById('statePercent').textContent = currentPercentage + '%';
            document.querySelector('.spotBarInterior').style.width = currentPercentage + '%';
    
            const statusElements = document.querySelectorAll('.transitStatus .status');
            const currentStateIndex = Object.keys(statesWithPercentages).indexOf(currentStateText);
            statusElements.forEach((elem, index) => {
                const circle = elem.querySelector('.circle');
                if (index < currentStateIndex) {
                    circle.classList.add('circle');
                    circle.classList.remove('circleActual', 'circleGrey');
                } else if (index === currentStateIndex) {
                    circle.classList.add('circleActual');
                    circle.classList.remove('circle', 'circleGrey');
                } else {
                    circle.classList.add('circleGrey');
                    circle.classList.remove('circle', 'circleActual');
                }
            });
        }

        updateProgressAndCircleClasses();
    });
    </script>
    <script async data-id="7645733362" id="chatling-embed-script" type="text/javascript" src="https://chatling.ai/js/embed.js"></script>
</body>
</html>