<div style="background-color:#E9ABFF;width:70%;margin:30px auto;text-align:center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; border-radius:15px">
    <br>
    <br>
    <h1 style="color:#E9ABFF;font-size:60px;background-color:white;width:fit-content; padding:5px 20px;border-radius:20px;margin:0 auto;">Tracky</h1>
    <p style="color:white;font-size:30px;margin:40px auto;">Bonjour John Doe,</p>
    <p style="color:white;font-size:20px;width:80%;margin:0 auto;">Votre colis n°(ID) a subit une ou plusieurs mise(s) à jour concernant son étape de livraison que vous pouvez consulter ci-dessous :</p>
    <a href="#" style="color:#E9ABFF;background-color:white;text-decoration:none;font-size:20px">Suivre mon colis</a><br>
    <a href="#">Ou cliquez sur ce lien : http://localhost:8080</a>
    <br><br><br>
</div>
