<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="stylesheet" href="../assets/style.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="tracky">Tracky</div>
   <div class="mainFP">
        <h1>Suivre mon colis 📦</h1>
        <div class="qr">
            <p>Veuillez scanner le QRCode du colis :</p>
            <div id="qr-reader"></div>
        </div>
   </div>
   <script src="https://unpkg.com/html5-qrcode"></script>
   <script src="../assets/js/scanQR.js"></script>
</body>
</html>